<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1>Users</h1>
=======
<h1>Utilisateurs</h1>
>>>>>>> final

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>First name</th>
      <th>Last name</th>
=======
      <th></th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Âge</th>
>>>>>>> final
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.gravatar_url %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
<<<<<<< HEAD
        <td><%= link_to 'Show', user %></td>
=======
        <td><%= link_to 'Voir', user %></td>
>>>>>>> final
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<<<<<<< HEAD

<%= link_to 'New User', new_user_path %>
=======
>>>>>>> final
