<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
=======
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
>>>>>>> final

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<<<<<<< HEAD
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', letters_path %>
=======
<%= link_to 'Modifier', edit_user_path(@user) %> |
<%= link_to 'Retour', letters_path %>
>>>>>>> final
