<p id="notice"><%= notice %></p>

<h2 class="sent">Messages reçus</h2>

    <% @receiveds.each do |letter| %>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <%= image_tag letter.from.gravatar_url, class:'img-circle' %>
          <div>
            <%= link_to letter.from, letter.from %>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="title"><%= letter.title %></div>
          <span class="message"><%= letter.message %></span>
        </div>

        <div class="col-xs-6 col-sm-4">
        <%= link_to 'Voir', letter %>
        <%= link_to 'Supprimer', letter, method: :delete, data: { confirm: 'Êtes-vous certain?' } %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-6 col-sm-4"></div>
      <div class="col-xs-6 col-sm-4"><%= link_to 'Nouvelle lettre', new_letter_path, class:'btn btn-default' %></div>
    </div>

<br>


<h2 class="sent">Messages envoyés</h2>


    <% @sents.each do |letter| %>
      <div class="row">
        <div class="col-xs-6 col-sm-4">

          <%= image_tag letter.to.gravatar_url, class:'img-circle' %>
          <div>
            <%= link_to letter.to, letter.to %>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="title"><%= letter.title %></div>
          <span class="message"><%= letter.message %></span>
        </div>
        <div class="col-xs-6 col-sm-4">
        <%= link_to 'Voir', letter %>
        <%= link_to 'Éditer', edit_letter_path(letter) %>
        <%= link_to 'Supprimer', letter, method: :delete, data: { confirm: 'Êtes-vous certain?' } %>
        </div>
      </div>
    <% end %>

<br>



