<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @letter.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @letter.message %>
</p>

<p>
  <strong>From:</strong>
  <%= @letter.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @letter.to %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
